.conversion-body {
  margin: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: blueviolet;
}
